body {
  text-align: center;
  color: white;
  background-color: rgb(46, 67, 255);
  font: 15pt arial normal;
}
section {
  margin: auto;
  width: 650px;
  color: black;
  background-color: white;
  box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.807);
  border-radius: 10px;
  padding: 20px;
}
footer {
  margin: 10px;
  font-style: italic;
  text-shadow: 5px 5px 3px rgba(0, 0, 0, 0.775);
}
#flista {
  font-size: medium;
  background-color: rgba(35, 90, 240, 0.173);
  border-color: blue;
  width: 235px;
  padding: 5px;
  margin: auto;
}
