body {
  text-align: center;
  background-color: aqua;
  color: white;
  margin: 50px;
  font: normal 15pt arial;
}
header {
  margin-top: 150px;
}
section {
  background-color: white;
  color: black;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.5);
  width: 250px;
  margin: auto;
  padding: 25px;
  border-radius: 8px;
}
footer {
  font-style: italic;
}
ul {
  list-style: none;
  padding: 0;
}
li {
  font-size: 20px;
  background: lightblue;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
}
