body {
    text-align: center;
    background-color: rgb(11, 167, 240);
    color: white;
    font: normal 15pt arial;
}
section{

    background-color: white;
    color: black;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.5);
    width: 500px;
    margin: auto;
    padding: 15px;
    border-radius: 8px;
}
footer {
    font-style: italic;
  }
