body {
  background-color: rgb(11, 167, 240);
  font: normal 15pt arial;
  color: white;
  text-align: center;
}
section {
  text-align: left;
  margin: auto;
  color: black;
  border-radius: 8px;
  padding: 15px;
  background-color: white;
  width: 500px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.5);
}
footer {
  font-style: italic;
}
